{% extends 'bootstrap/base.html' %}

{% block title %}
  {% if title %}
    {{ title }} - Hola
  {% else %}
    Welcome to Microblog
  {% endif %}
{% endblock %}

{% block styles %}
  {{super()}}
  <link rel="stylesheet"
    href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet"
    href="{{url_for('.static', filename='css/fullscreen.css')}}">
  <link rel="stylesheet"
    href="{{url_for('.static', filename='css/open-iconic-bootstrap.css')}}">
{% endblock %}

{% block scripts %}
  <script src="{{url_for('.static', filename='js/bootstrap.min.js')}}">
  </script>
  {{super()}}
{% endblock %}

{% block navbar %}
  <body>

    <div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
      </div>
    </header>
{% endblock %}

{% block content %}

  {% block app_content %}{% endblock %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
      </div>
      </body>

{% endblock %}
