{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>
{{super()}}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
       <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('jobform') }}">Add Job</a>

            {% if mode == '0' %}
                <form method="POST">
                    <input type="hidden" name="mode" value="1">
                    <!--<input type="submit" value="to EDIT">-->
                    <button class="btn btn-warning btn-lg btn-block" type="submit" value="to EDIT">to EDIT</button>
                </form>
            {% else %}
                <form method="POST">
                    <input type="hidden" name="mode" value="0">
                    <button class="btn btn-success btn-lg btn-block" type="submit" value="to VIEW">to VIEW</button>
                </form>
            {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}