{% extends "base.html" %}

{% block content %}

    <h1>Hi, you!</h1>

    {% if mode == '0' %}

        {% for job in jobs %}
            <!-- filter by cat (not the animal) -->
            <div>
                <p>
                    {{ job.category }}
                </p>
                <p>
                    <b>VIEW MODE</b>
                </p>

                <hr>
            </div>
        {% endfor %}

    {% else %}

        {% for job in jobs %}
            <div>
                <p>{{job.category}}</p>
                <form method="POST" action="./update">
                    <input type="hidden" value='{{ job.id }}' name="id">
                    <input type="text" value='{{ job.category }}' name="newcategory">

                    <p>
                        <input type="submit" value="Update">
                    </p>
                </form>
                <form method="POST" action="./delete">
              <input type="hidden" value="{{ job.id }}" name="id">
              <input type="submit" value="Delete">
            </form>
                <hr>
            </div>
        {% endfor %}

    {% endif%}

{% endblock %}